/* Variables */
html {
    --grey: #e7e7e7;
    --gray: var(--grey);
    --blue: #0072B9;
    --pink: #D60087;
    --yellow: #ffc600;
    --black: #2e2e2e;
    --red: #c73737;
    --green: #61e846;
    --text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
    --box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2rem;
    line-height: 1.5;
    background-color: var(--blue);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='100' xmlns='http://www.w3.org/2000/svg' %3E%3Cpathd='M021.184c.13.357.264.72.4021.088l.6611.768C4.65333.64639.647650c010.271-1.22215.362-4.92824.629-.383.955-.74 1.869-1.0722.75v6.225c.73-2.511.691-5.1392.928-8.233C6.72265.888860.562850c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C1.35219.098.60116.913014.85v6.335zm200C17.10813.258168.077160h2c05.744.5749.951214.85v6.334zm056.195c-2.9667.86-413.123-422.621h2c0-6.842.542-11.3862-16.396v-6.225zM60c08.441.2113.7184.40222.272l.6611.768C14.65333.641639.6471650c0 10.271-1.22215.362-4.92824.629C7.27884.112689.4386100h2c0-10.2711.222-15.3624.928-24.629C16.72265.8881860.5621850c0-10.626-1.397-16.855-5.063-26.66l-.662-1.767C9.16 13.22388.16380H6z' fill='%23fff' fill-rule='nonzero' fill-opacity='.1' opacity='.349'/%3E%3C/svg%3E%0A");
    background-size: 15px;
  }
  
  
  /* Table Styles */
  
  table {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2rem;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid var(--grey);
    padding: 0.5rem;
  }
  
  
  /* Helper Divs */
  
  .wrapper {
    max-width: 1000px;
    margin: 4rem auto;
    padding: 2rem;
    background: white;
  }
  
  .box, .wrapper {
    box-shadow: 0 0 3px 5px rgba(0,0,0,0.08653);
  }
  a {
    color: var(--blue);
    text-decoration-color: var(--yellow);
  }
  
  
  a.button, button, input[type="button"] {
    color: white;
    background: var(--pink);
    padding: 1rem;
    border: 0;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    font-size:2rem;
  }
  
  :focus {
    outline-color: var(--pink);
  }
  
  fieldset {
    border: 1px solid black;
  }
  
  input:not([type="checkbox"]):not([type="radio"]), textarea, select {
    display: block;
    padding: 1rem;
    border: 1px solid var(--grey);
  }
  
  .success {
    border: 1px solid red;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    margin-top: 0;
    line-height: 1;
    text-shadow: var(--text-shadow);
  }
  .wrapper h1,
  .wrapper h2,
  .wrapper h3,
  .wrapper h4,
  .wrapper h5,
  .wrapper h6 {
    color: var(--black);
    text-shadow: none;
  }
  